/* --------------------------------------------------- */ 

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300;1,600;1,800&display=swap');
*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;	
}
:root {
	--main-color: goldenrod;
	--text-color: black;
	--bg-color: gainsboro;	
}

img {
	width: 100%;
}

/*
body {
	color: var(--text-color);
}
*/
.container{
	max-width: 1068px;
	margin: auto;
	width: 100%;
}
section{
	padding: 4rem 0 3rem;
}

/* header */
header {
	position : fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--bg-color);
	box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
	z-index: 100;
border: 4px solid black;
}
.nav{
	display : flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}
.logo{
	font-size : 1.1rem;
	color: var(--text-color);
	font-weight: 400;
}

/* Taille du panier d'achat affiché dans la barre de menu */
#cart-icon{
	font-size:3.5rem;
	cursor: pointer;
}

/*cart*/
.cart{
	position:fixed;
	top: 0;
	right: -100%;    /* --> -100%  */
	width: 360px;
	min-height: 100vh;
	padding: 20px;
	background: var(--bg-color) ;   /* Couleur de la zone d'affichage du contenu du panier */	
	box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
	transition: 0.3s;
}
.cart.active{
	right: 0;
}

.cart-title{
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 2rem;
}
.cart-box{
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}
.cart-img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 10px;	
}
.detail-box{
	display: grid;
	row-gap: 0.5rem;
}
.cart-product-title{
	font-size: 1rem;
	text-transform: uppercase;
}
.cart-price{
	font-weight: 500;
}
.cart-quantity{
	border: 1px solid var(--text-color);
	outline-color: var(--main-color);
	width: 2.4rem;
	text-align: center;
	font-size: 1rem;
}
.cart-remove{
	font-size: 24px;
	color: var(--main-color);
	cursor: pointer;
}
.total{
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5rem;
	border-top: 1px solid var(--text-color);
}
.total-title{
	font-size: 1rem;
	font-weight: 600;
}
.total-price{
	margin-left: 0.5rem;
}
.btn-buy{
	display: flex;
	margin: 1.5rem auto 0 auto;
	padding: 12px 20px;
	border: none;
	background: var(--main-color);
	color: var(--bg-color);
	font-size: 1rem;
	font-weight: 500;
	cursor:pointer;
}
.btn-buy:hover{
	background: var(--text-color);
}

#close-cart{
	position: absolute;
	top: 1rem;
	right: 0.8rem;
	font-size: 2rem;
	color: var(--text-color);
	cursor:pointer;
}

.section-title{
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 1.5rem;
}
.shop{
	margin-top: 2rem;
}
/* shop Content */
.shop-content{
	display : grid;
	grid-template-columns: repeat(auto-fit,minmax(220px, auto));
	gap: 1.5rem
}

.product-box{
	position: relative;
	
}

.product-box:hover{
	padding: 10px;
	border: 1px solid var(--text-color);
	transition: 0.4s;
}
.product-img{
	width: 100%;
	height: auto;
	margin-bottom: 0.5rem;
}
.product-title{
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}
.price{
	font-weight: 500;
}

.add-cart{
	position:absolute;
	bottom: 1;
	right: 0;
	background: var(--text-color);
	color: var(--bg-color);
	padding: 10px;
	cursor: pointer;
}
.add-cart:hover{
	background: hsl(249,32%, 17%);
}


/* ******************************************************* */

/* Mise en forme bloc de gros titres */
#GrosTitreVetement{
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */
    /* justify-content: center; */
	/* text-align:center; */
	/* color: green;  /* couleur du texte */
	/* font-family: raleway;  */ 
 	/* font-size: 50px; */
  	/* font-weight: 200; */
	background: repeat scroll 0 0 black ;  /* Couleur du bloc  --> #5a88ca */
	border: 2px solid white;  /* Couleur du contour du bloc et forme de visibilité  */
}
#GrosTitreVetement p{
    padding-top: 10px;
	    position: relative;
        font-family: cursive;  /* La police d'écriture */
        font-size: 30px; 
        text-transform: uppercase;
        letter-spacing: 2px;
        background: linear-gradient(90deg, #dc143c, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 5s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
      @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }
}

#GrosTitreSac{
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */
     /* justify-content: center; */
	/* text-align:center; */
	/* color: green;  /* couleur du texte */
	/* font-family: raleway;  */ 
 	/* font-size: 50px; */
  	/* font-weight: 200; */
	background: repeat scroll 0 0 black ; /* Couleur du bloc  --> #5a88ca */ 
	border: 2px solid white;  /* Couleur du contour du bloc et forme de visibilité  */
}
#GrosTitreSac p{
    padding-top: 10px;
	    position: relative;
        font-family: cursive;  /* La police d'écriture */
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: linear-gradient(90deg, #dc143c, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 5s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
      @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }
}

/* Mise en forme ménu déroulant avec liens */

select {
margin: 0;
/* padding-left: 15px; */
color: red ;    /* Couleur des options dans le select --->  remettre couleur de départ #555555 */
cursor: pointer;
}
.select {
position: relative;
width: 100%;
height: 45px;
/* border-radius: 5px;
border: 2px solid #CED4DA; */
}

/* Tout le bloc div où on affiche les produits (bloc de droite) */
	 	 	 
div#affichageProduit
	 {
	 float:left;
	 width:100%;
	 height:100%;
	 background-color: #FFC0CB;	 /* Couleur rose */
	 }

/* Mise en forme des carrés/rectangles dans lesquels sont affichées les images, la description et le prix */

.shadowbox {
  width: 20em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

/* Mise en forme de la balise body */

 body { 
background-color: #FFC0CB;	  /* Couleur rose */ 
font-family:Arial, Helvetica, sans-serif; 
/*
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
*/
   }

   /* Mise en forme du tableau de la liste d'abonnés */
table,
    th,
    td {
        padding: 10px;
        border: 2px solid black;
        border-collapse: collapse;
		text-align: center;
      }
	th {
		background-color: var(--bg-color);
		font-size: medium;
	}
	td {
		 font-size: x-small;   /*Taille d'écriture */
		 background-color: white;
	 }
.PosTableau{                     /* Permet de centrer le tableau sur la page d'affichage */
     margin-left: auto; 
     margin-right: auto; 
}

.Stat{                     /* Permet de centrer le tableau sur la page d'affichage */
     margin-left: auto; 
     margin-right: auto; 
	 background-color: var(--bg-color);
	font-size: medium;
	text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
	text-align: center;
}
