/* Tout le bloc div où on affiche le contenu du panier (bloc à gauche) */

/* Partie qui sera supprimée */
/*
div#affichagePanier
	 {
	 float:right;
	 width:3%;
	 height:100% ;
	 background-color: black;
	 /* background-image : url('./Images/magasin.jpg')  ; */
	 }
*/

/* Tout le bloc div où on affiche les produits (bloc de droite) */
	 	 	 
div#affichageProduit
	 {
	 float:left;
	 width:100%;
	 height:100%;
	 background-color: #FFC0CB;	 /* Couleur rose */
	 }


/* Pour gérer la disposition des blocs d'affichage des produits (bien les afficher les uns à la suite) */

.floatleft { float: left }
.floatright { float: right }
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0px solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}

/* Mise en forme des carrés/rectangle dans lesquels sont affichées les images, la description et le prix */

.shadowbox {
  width: 20em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}


/* Mise en forme de la balise body */

body { 
background-color: #FFC0CB;	 /* Couleur rose */
font-family:Arial, Helvetica, sans-serif; }


/* Mise en forme de la classe header-area (Menu de l'utilisateur tout en haut) */

.header-area {
    background: none repeat scroll 0 0 black;
}
.header-area a {
    color: #888;
}
.single-product-area .zigzag-bottom {background-color: #f4f4f4}

.single-product-area {
  padding: 80px 0 130px;
}


/* Mise en forme de la classe user-menu */

.user-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.user-menu li {
    display: inline-block;
}
.user-menu li a {
    display: block;
    font-size: 13px;
    margin-right: 5px;
    padding: 10px;
}
.user-menu li a i.fa {
    margin-right: 5px;
}

/* Mise en forme de la classe product-carousel-price */

.product-carousel-price ins {
  color: #5a88ca;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}


.single-product h2 a {
    color: #222;
}
.single-product p {
    color: #5a88ca;
    font-weight: 700;
}

.single-product {
  overflow: hidden;
}
.single-product:hover {}
.single-product:hover .product-hover a.add-to-cart-link {top: 32%;}
.single-product:hover .product-hover a.view-details-link {bottom: 32%;}
.single-product:hover .product-hover:after{left: 0}


.product-carousel {
  padding-top: 40px;
}

a {color: #5a88ca}
a:hover, a:focus {color: #17a78b}
.footer-bottom-area {
  background: none repeat scroll 0 0 #000;
  color: #fff;
  padding-bottom: 40px;
}


/* Gros titre d'affichage du type de produits à affichés plus bas */

.product-big-title-area {background: url(img/crossword.png) repeat scroll 0 0 #5a88ca}

.product-bit-title h2 {
  font-family: raleway;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  padding: 50px 0;color: #fff;
}

/* Bouton ajouter au panier */

.add_to_cart_button {
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    padding: 6px 25px;display: inline-block
}
.add_to_cart_button:hover {background-color: #222;color: #fff;text-decoration: none}
form.cart {
    margin-bottom: 25px;
}





