/* Lien vers les codes couleurs en css : http://www.css-faciles.com/couleurs-css.php */

/* Couleur de page et image de fond*/  
body {
	background-color: #ffe6e6;
	/* background : url('./../Images/fondpage.jpg') ; */
}

/* Pour mettre la couleur de l'onglet de navigation */
:root{
	--main-background: #0b0c0f;
	--main-fonts-color: #000000;   /* Couleur d'écriture des titres de la barre */
	--main-decor-color:#00a9e2; /* Couleur de présence sur un titre de la barre */
    --main-header-background:#ffd700; /* Couleur de la barre de navigation */
	--main-font-family: 'Poppins', sans-serif;
}

header{
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
    align-items: center; 
	justify-content: space-around; 
    background: transparent;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
	font-weight:bold;
}
.nav-show{
	opacity: 0;
}

header:hover{
	opacity: 1;
	background: var(--main-header-background);
}

.logo img{
	padding-top: 5px;
	height: 70px;
	cursor: pointer;
}

.nav-bar{
	list-style:none;
	position: relative;
	display: inline-flex;
}

a.nav-link{
	margin: 2px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: uppercase;
}

.active{
	background: var(--main-decor-color);
}

.nav-link:hover {
	color: #000000;
    background: var(--main-decor-color);
}

footer {
	width: 100%;
	height: 100%;
    background-color: #C0C0C0;
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.copyright a{
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover{
	color: var(--main-decor-color);
}

div#video
	 {
	 margin: 0 auto;
	 width:700px;
	 height:400px;
	 }

div#fondpage
	 {
		background : url('./../Images/magasin.jpg') ; 
		/*background-color: blue; */
	 }
	 
	 
