/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */

:root{
	--main-background: #0b0c0f;
	--main-fonts-color: #fff;
	--main-decor-color:#00a9e2;
    --main-header-background:#21252e;
	--main-font-family: 'Poppins', sans-serif;
}


body {
	background-color: #ffe6e6;
	background : url('./../Images/magasin.jpg') ;
}

#GrandeLegende{
	color:red;
	font-weight:bold;
	font-size:24pt
	
}

legend{
	color:black;
	font-weight:bold;
	font-size:14pt;
}

div#partie_gauche_logo
	 {
	 float:left;
	 width:300px;
	 height:500px;
	 	 	
	 }
	 	 	 
div#partie_centre
	 {
	 float:left;
	 width:50%;
	 height:100%;
	 background-color: white;
	 }
	 	 	 
div#partie_droite
	 {
	 float:left;
	 width:300px;
	 height:500px;
	 
	 }

#nomOperation
	 {
	 color:black;
	 font-weight:bold;
	 font-size:14pt;
	 
	 }
	 

.logo img{
	padding-top: 5px;
	height: 90px;
	cursor: pointer;
	display: block;
  	margin-left: auto;
     margin-right: auto;
}

/* ************************************************************************** */ 

div#Contenu_Social_Media {
	background-color: black ;
	}


.social-media{
	padding: 10px;
	display: flex;
	position: center;
     align-items: space-around;
     justify-content:center;
	
}

.social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align:center;
    display: inline-block;
    color: var(--main-fonts-color);
}

.social-media a i{
	cursor: pointer;
}

.social-media  a:hover {
	color: var(--main-decor-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}

h4{
	color: var(--main-fonts-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}
